<div class="moderation-sidebar-info">
  <h2>{{ title }}</h2>
  <p>{{ 'Currently in the ' | t }} {{ state }} {{ ' state.' }}</p>
  {% if revision_author %}
    <p>{{ 'Last updated by' | t }}: {{  revision_author }} {{ 'on' | t }} {{ revision_time }}</p>
  {% endif %}
</div>
